__pycache__/
*.py[cod]
.env
.venv/
*.log
.ipynb_checkpoints/
*.pth
*.pt
*.ckpt
*.safetensors
datasets/
*.csv
*.zip
.vscode/
.idea/

# Large files and folders
data/
work_dirs/
autodl-tmp/
*.pth
*.pt
*.ckpt
*.safetensors
*.bin
*.tar.gz
*.zip
*.npy
